<template>
  <div
    class="images-list"
    :class="{'dark': darkMode}">
    <div
      v-for="entry in data"
      :key="entry.id">
      <div v-if="loading">
        <div class="list__loading-thumbnail">
          <div class="list__loading-image"></div>
          <div class="list__loading-text"></div>
        </div>
      </div>
      
      <div v-else-if="!loading">
        <Imagee
          :data="entry"
          :class="{'dark': darkMode}"
          @select="selectItem(entry.id)" />
      </div>
    </div>
    
    <p v-if="data.length === 0">
      No images found
    </p>
  </div>
</template>

<script>
import Imagee from './Imagee.vue';
export default {
  name: 'ImagesList',
  components: {
    Imagee
  },
  props: {
    data: {
      type: Array,
      default() {
        return [];
      },
    },
    loading: Boolean,
    darkMode: Boolean,
  },
  methods: {
    selectItem(itemId) {
      this.$emit('select', itemId);
    },
  }
}
</script>

<style lang="scss" scoped>
.images-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
  .list__loading-thumbnail {
    width: 320px;
    height: calc(320px + 32px);
    background-color: #DDD;
    margin: 10px;

    .list__loading-image {
      border-radius: 5px;
      width: 320px;
      height: 320px;
    }

    .list__loading-text {
      width: 250px;
      height: 17px;
      background-color: #CCC;
      margin-left: 30px;
      margin-top: 8px;
      border-radius: 18px;
    }
  }

  &.dark {
    .list__loading-thumbnail {
      background-color: #454545;
    }

    .list__loading-text {
      background-color: #676767;
    }
  }
}
</style>
